.App {
  text-align: center;
}

.App h2 {
  font-size: 3rem;
  margin: 1em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nav {
  display: grid;
  padding: .25em 1em .25em .5em;
  grid-template-columns: 1fr 2fr;
  background: black;
}

#nav img {
  margin: .5em 0;
  height: 2em;
  justify-self: left;
  float: left;
}

#nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em
}

#nav li {
  color: white;
  list-style: none;
  text-decoration: none;
}

.app-home h2{
  text-align: left;
  margin-left: 0;
  margin-bottom: .5em;
}

.app-home .buttons {
  margin: 1em 3em 1em 0;
  padding: .75em;
  border-radius: 1em;
  color: white;
  background-color: #1ED760;
}

.app-home .buttons:hover {
  transition: background-color .125s;
  background-color: #09b344;
  cursor: pointer;
}

.app-home .buttons:not(:hover) {
  transition: background-color .125s;
}

.app-home .buttons i {
  margin-right: .5em;
}

.app-home .buttons span::after{
  content: "▶";
  margin-left: .5em;
}

.app-home .button-container {
  display: flex;
}

.app-home .button-container a {
  text-decoration: none;
}

.app-home .button-container a .buttons {
  margin-right: .5em;

}

.albums {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0;
}

.albums li {
  list-style: none;
}
.albums li:hover {
  transform: scale(102.5%);
  transition: transform .25s;
}

.albums li:not(:hover){
  transition: transform .25s;
}

.albums img {
  border-radius: 1em;
  width: 100%;
}

.albums p {
  font-weight: 900;
  color: black;
}

.albums a {
  text-decoration: none;
}

.previews {
  min-height: 76.25vh;
  background: linear-gradient(rgb(27, 27, 27), #111);
}


.previews .album-description {
  display: flex;
  margin: 0 0 2em;
}

.previews .album-description img {
  width: 25vw;
  max-width: 15em;
}

.previews .album-description-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 5%;
}

.previews .album-description-details h2 {
  text-align: left;
  margin: 0;
  color: white
}

.previews .album-description-details p {
  text-align: left;
  margin: 1em 0 0;
  font-size: .825rem;
  text-decoration: none;
  color: #999
}

.previews .album-description-details a {
  text-align: left;
  margin: 1em 0 0;
  font-size: .75rem;
  text-decoration: none;
  color: #10b41e
}

.previews .album-description-details a:hover {
  opacity: .75;
}

.previews .album-description-details a::after {
  content: "▶";
  margin: .5em;
}

.album {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 0 5%;
  width: 90%;
  margin: 0 auto 0;
  gap: 2em;
}

.album p {
  color: white;
}

.album img {
  box-shadow: 0 0 .5em green;
}

.album li {
  display: grid;
  text-align: left;
  list-style: none;
  width: 100%;
}

.album a {
  text-align: left;
  margin-right: auto;
  margin-bottom: 1em;
  text-decoration: none !important;
  color: #999
}

.album a:hover {
  opacity: .75;
}

.album a:hover > span {
  opacity: .75;
}

.album a::before {
  content: "♪";
  margin-right: .5em;
  user-select: none;
}

.album span {
  font-size: .85rem;
  color: #999;
  user-select: none;
}

.album audio {
  width: 100%
}
